/* Header & Home Section Part Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

/*  */
#portfolio,
#skills,
#contact,
#about,
#home {
  scroll-margin-top: 90px; 
}

.section {
  padding-top: 90px;
  margin-top: -90px;
}
/*  */



body {
    color: #ededed;
    background: #081b29;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background:linear-gradient(to right, #050b1a, #0b1a3a);
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
/*  */
.logo {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #0ef, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-flex;
    align-items: center;
    transition: transform 0.3s, filter 0.3s;
}

.logo i {
    color: #0ef;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px #0ef);
}

.logo:hover i {
    transform: rotate(-15deg) scale(1.2);
}




/*  */

.navbar a:hover {
    color: #0ef;
      transition: 0.3s;
}
/*  */
/* .navbar a.active{
  color:#0ef;
} */

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #071C2A, #0A2233);
    /* background-image: url("./img/Tajuddin.jpg") no-repeat; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    background-position: center;
    padding: 70px 10% 0;
}

/*  */
.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-circle {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(45deg, #0ef, #a855f7);
    box-shadow:
        0 0 40px rgba(0, 238, 255, 0.8),
        0 0 80px rgba(0, 238, 255, 0.6),
        0 0 120px rgba(168, 85, 247, 0.7),
        0 0 160px rgba(168, 85, 247, 0.5);
}


.glow-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: #071C2A;
}

/*  */

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.home-sci a:hover {
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow:
        0 0 5px cyan,
        0 0 25px cyan,
        0 0 50px cyan,
        0 0 100px cyan,
        0 0 200px cyan;
}

/* Header & Home Section Part End */

/* About Section Part Start  */

/* About Section */
.about {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    align-items: center;
    gap: 3rem;
    padding: 80px 10%;
    background: #071c2a;

    /* background: #051129;
  background: linear-gradient(135deg, #071C2A, #0A2233); */
}

/* #about{
    background: linear-gradient(135deg, #071C2A, #0A2233);
} */

/* Image Area */
.about-img {
    display: flex;
    justify-content: center;
}

/* Neon Glow Circle */
/* .glow-circle {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  padding: 8px;
  background: linear-gradient(135deg, #0ef, #a855f7);
  box-shadow:
    0 0 30px rgba(0, 238, 255, 0.7),
    0 0 60px rgba(0, 238, 255, 0.6),
    0 0 100px rgba(168, 85, 247, 0.7);
} */

#glow-circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    padding: 8px;
    background: linear-gradient(135deg, #0ef, #a855f7);
    box-shadow:
        0 0 30px rgba(0, 238, 255, 0.7),
        0 0 60px rgba(0, 238, 255, 0.6),
        0 0 100px rgba(168, 85, 247, 0.7);
}

#glow-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background: #071c2a;
}

/* Text Area */
.about-text h2 {
    font-size: 60px;
    color: #fff;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 28px;
    color: #fff;
    margin: 15px 0 25px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #dbeafe;
    margin-bottom: 35px;
}

/* Button */
.btn-box {
    display: inline-block;
    padding: 12px 30px;
    background: #0ef;
    color: #071c2a;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 20px rgba(0, 238, 255, 0.8);
    transition: 0.3s;
}

.btn-box:hover {
    box-shadow:
        0 0 25px rgba(0, 238, 255, 1),
        0 0 50px rgba(0, 238, 255, 0.8);
}

/* About Section Part End  */

/* Services Section Part Start */

.card-content {
    padding: 20px;
}

.card-content i {
    font-size: 2rem;
    color: #38bdf8;
    margin-bottom: 10px;
}

.card-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-content ul {
    list-style: none;
    font-size: 0.9rem;
    color: #cbd5f5;
}

.card-content ul li {
    margin-bottom: 6px;
}

.card-content p {
    margin-top: 10px;
    font-size: 0.8rem;
    font-style: italic;
    color: #94a3b8;
}

.services {
    padding: 90px 10%;
    background: #0f172a;
    color: #fff;
}

.section-title {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 60px;
}

.section-title span {
    color: #38bdf8;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.service-box {
    background: #020617;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid #1e293b;
    transition: 0.4s ease;
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #38bdf8;
}

.service-box ul {
    list-style: none;
    padding-left: 0;
}

.service-box ul li {
    font-size: 0.95rem;
    line-height: 1.8;
    color: #cbd5f5;
    position: relative;
    padding-left: 18px;
}

.service-box ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #38bdf8;
}

.projects {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #94a3b8;
    font-style: italic;
}

.service-box:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 30px rgba(56, 189, 248, 0.45);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.service-box {
    background: #020617;
    padding: 30px;
    border-radius: 14px;
    border: 1px solid #1e293b;
    transition: 0.4s ease;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-content {
    padding: 20px;
    flex: 1;
}

.btn-box {
    margin-top: auto;
    align-self: center;
    padding: 12px 32px;
    border-radius: 30px;
    background: linear-gradient(90deg, #38bdf8, #22d3ee);
    color: #020617;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-box:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 18px rgba(56, 189, 248, 0.7);
}

/* Services Section Part end */

/* Skills Section Part Start  */

/* MAIN */
.main-container {
    max-width: 1200px;
    padding: 50px;
    margin: auto;
}

.section-title span {
    color: #38bdf8;

}

.main-title {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 70px;
}

.column-title {
    font-size: 1.8rem;
    margin-bottom: 35px;
}

/* LAYOUT */
.skills-container {
    display: flex;
    gap: 80px;
}

.skills-column {
    flex: 1;
}

/* TECHNICAL */
.skills-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skill-item {
    display: flex;
    align-items: center;
    opacity: 0;
    animation: fadeUp 0.8s ease forwards;
}

/* .skill-item:nth-child(1) {
    animation-delay: 0.2s;
}

.skill-item:nth-child(2) {
    animation-delay: 0.4s;
}

.skill-item:nth-child(3) {
    animation-delay: 0.6s;
}

.skill-item:nth-child(4) {
    animation-delay: 0.8s;
}

.skill-item:nth-child(5) {
    animation-delay: 1s;
}

.skill-item:nth-child(6) {
    animation-delay: 1.2s;
} */

.skill-header {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.skill-header i {
    font-size: 24px;
    color: #38bdf8;
}

.progress-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
}

.progress-bar {
    flex: 1;
    height: 10px;
    background: #1e293b;
    border-radius: 5px;
    overflow: hidden;
}

.progress-fill {
    width: 0;
    height: 100%;
    background: linear-gradient(90deg, #38bdf8, #6366f1);
    animation: fillProgress 1.5s ease forwards;
}

.progress-percent {
    min-width: 40px;
}

/* RADIAL */
.radial-skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.radial-skill {
    text-align: center;
    opacity: 0;
    animation: fadeUp 1s ease forwards;
}

/* Professional Skills */
/* .radial-skill:nth-child(1) {
    animation-delay: 0.2s;
}

.radial-skill:nth-child(2) {
    animation-delay: 0.4s;
}

.radial-skill:nth-child(3) {
    animation-delay: 0.6s;
}

.radial-skill:nth-child(4) {
    animation-delay: 0.8s;
} */


circle {
    fill: none;
    stroke-width: 10;
    stroke-dasharray: 440;
    /* stroke-dashoffset: calc(440 - (440 * var(--val)) / 100);
    animation: progress 1.5s ease forwards; */
    animation: progress 1.5s ease forwards, colorSpin 1.5s linear forwards;
}

.radial-container {
    width: 130px;
    height: 130px;
    position: relative;
    margin: auto;
}

svg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.radial-bg {
    fill: none;
    stroke: #1e293b;
    stroke-width: 8;
}

.radial-progress {
    fill: none;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    animation: radialFill 1.8s ease forwards;
}

/* Professional Skills animation */
.r1 {
    stroke: #38bdf8;
    --val: 80;
    animation-delay: 0.2s;
}

.r2 {
    stroke: #22c55e;
    --val: 75;
    animation-delay: 0.4s;
}

.r3 {
    stroke: #facc15;
    --val: 85;
    animation-delay: 0.6s;
}

.r4 {
    stroke: #fb7185;
    --val: 75;
    animation-delay: 0.8s;
}

.radial-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.radial-label {
    margin-top: 10px;
    font-weight: 600;
}



/* ANIMATIONS */
@keyframes fillProgress {
    to {
        width: var(--level);
    }
}

@keyframes radialFill {
    to {
        stroke-dashoffset: calc(283 - (283 * var(--val)) / 100);
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes progress {
    from {
        stroke-dashoffset: 440;
        /* 0% */
    }

    to {
        stroke-dashoffset: calc(440 - (440 * var(--val)) / 100);
    }
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .skills-container {
        flex-direction: column;
        gap: 40px;
    }
}

/* Skills Section Part End  */

/* Latest Project section part start  */

.main-text {
    padding: 130px;
    /* margin-top: 25px; */
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span {
    color: #0ef;
}

.portfolio-content {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
    gap: 20px;
}

.row {
    /* position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer; */

    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    height: 260px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.row img {
    /* width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s; */


    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}



.layer {
    /* width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s; */

    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 20px;
    transition: height 0.5s;

}

/* .layer::-webkit-scrollbar{
    width: 4px;
}
.layer::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 10px;
} */


.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600px;
    margin-bottom: 15px;
}

.layer p {
    /* color: #000;
    font-size: 1rem;
    line-height: 1.8; */

    color: #000;
    /* color: #3406b3; */
    font-size: 14px;
    line-height: 1.6;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

/* .row:hover img {
    transform: scale(1.1);
} */

.row:hover {
    transform: translateY(-12px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

/* .row:hover{
    transform: translateY(-10px) scale(1.03);
} */

.row:hover .layer {
    height: 100%;
    opacity: 1;
}


.layer h5,
.layer p,
.layer a {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s ease;
}

.row:hover .layer h5,
.row:hover .layer p,
.row:hover .layer a {
    transform: translateY(0);
    opacity: 1;
}

/*  */
.project-link i {
    color: #ff004f;
    font-size: 22px;
}

/* Latest Project section part end  */

/* Contact section part start */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 30px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list i:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {

    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow:0 0 5px cyan,
    0 0 25 cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
.last-text {
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    background: rgb(7,85, 91);
    padding: 25px 0;
    margin-top: 70px;

color: #000000;
    /* background: #0ef; */
    /* font-size: 20px; */
    /* padding: 10px; */
    border-radius: 0.5rem;
   

}
/* .top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: #000000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
} */

/* Contact section part end */


/* Header & Home Section Part Start */

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }

}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }

}

/* Header & Home Section Part End */

/* Services Section Part Start */

.service-box {
    animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Services Section Part End */